.footer {
	background: #00428a;
	padding: 0 0 30px 0;
	color: #eee;
	font-size: 14px;
}

.footer-top {
	background: #004a99;
	padding: 60px 0 30px 0;
}

.footer-top .footer-info {
	margin-bottom: 30px;
}

.footer-top .footer-info h3 {
	font-size: 34px;
	margin: 0 0 20px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-family: "Montserrat", sans-serif;
	color: $color-white;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.footer-top .footer-info p {
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Montserrat", sans-serif;
	color: #ecf5ff;
}

.social-links {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}

.social-links a {
	font-size: 1.2rem;
	display: inline-block;
	background: #007bff;
	color: $color-white;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-right: 4px; */
	border-radius: 50%;
	text-align: center;
	width: 45px;
	height: 45px;
	transition: 0.3s;
}

.social-links a:hover {
	background: #0067d5;
	color: $color-white;
}

.footer-top h4 {
	font-size: 14px;
	font-weight: bold;
	color: $color-white;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 10px;
}

.footer-top .footer-links {
	margin-bottom: 30px;
}

.footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-top .footer-links ul li {
	padding: 8px 0;
}

.footer-top .footer-links ul li:first-child {
	padding-top: 0;
}

.footer-top .footer-links ul a {
	color: #ecf5ff;
}

.footer-top .footer-links ul a:hover {
	color: #74b5fc;
}

.footer-top .footer-contact {
	margin-bottom: 30px;
}

.footer-top .footer-contact p {
	line-height: 26px;
}

.footer-top .footer-newsletter {
	margin-bottom: 30px;
}

.footer-top .footer-newsletter input[type="email"] {
	border: 0;
	padding: 6px 8px;
	width: 65%;
}

.footer-top .footer-newsletter input[type="submit"] {
	background: #007bff;
	border: 0;
	width: 35%;
	padding: 6px 0;
	text-align: center;
	color: $color-white;
	transition: 0.3s;
	cursor: pointer;
}

.footer-top .footer-newsletter input[type="submit"]:hover {
	background: #0062cc;
}
