/* Forms Section
--------------------------------*/

.contact {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	overflow: hidden;
}

.section-header {
	padding-bottom: 30px;
}

.info {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: #283d50;
}

.info i {
	font-size: 32px;
	color: #007bff;
	float: left;
	line-height: 1;
}

input::-webkit-input-placeholder {
	content: "login";
}

.form .form-control {
	border: none;
	outline: none;
	border-bottom: 1px solid grey;
	box-shadow: none;
	background: transparent !important;
}

.form .form-control:focus,
.form .form-control:active {
	background: transparent !important;
	outline: none;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid var(--info);
	box-shadow: none;
	background: var(--white);
}

.input-group-text,
.input-group-prepend {
	border: none;
	outline: none;
	margin: 0;
	padding: 2px;
	transform: translateX(2px);
	background: transparent;
}

.form p {
	margin: 0 !important;
}

/* .form input:focus {
  border-bottom: 1px solid #007bff;
} */

/* .form input:invalid{
  border-bottom: 1px solid red;
} */

.form #sendmessage.show,
.form #errormessage.show,
.form .show {
	display: block;
}

.form .validation {
	color: red;
	display: none;
	margin: 0 0 20px;
	font-weight: 400;
	font-size: 13px;
}

.form input,
.form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
}

.form button[type="submit"] {
	background: #007bff;
	border: 0;
	border-radius: 20px;
	padding: 8px 30px;
	color: $color-white;
	transition: 0.3s;
}

.form button[type="submit"]:hover {
	background: #0067d5;
	cursor: pointer;
}
