{% extends "index.html" %}

{% block page_header %}
{{super()}}
{% endblock %}

{# 
  {% block header %}
  <section class="quote">
    <h2>
      " No one can whistle a symphony alone. <br />
      It takes a whole orchestra to play it "
      <br />
      <span> - H.E Luccok </span>
    </h2>
  </section>
{% endblock %} 
#}

{% block content %}
<div class="col-md-7 col-lg-7">
  <!-- Begin Articles -->
  {%- for article in posts %}
  <div class="">
    <article class="card bg-light article-item  content-section  rounded filter-web wow fadeInUp bg-white mb-1" role="article"
      data-wow-delay="0.3s" role="article">
      <!-- Article Header Image -->
      <figure role="figure card-img-top">
        <a href="page-blog-detail.html">
          <img src="{{ url_for('static', filename='images/banner/banner-17.jpg')}}" class="img-fluid"
            alt="Blog Post pic" role="img">
        </a>
      </figure>
      <!-- Article Body -->
      <div class="article-info card-body ">
         <div class="d-flex justify-content-start align-items-center mb-1">
           <!-- avatar -->
           <div class="avatar mr-2">
             <img src="{{url_for('static',filename = 'images/avatars/avatar3.jpg')}}"
               class="rounded-circle img-fluid avatar icon"
               width="40" height="40" alt="{{article.author}} profile picture">
           </div>
           <!--/ avatar -->
           <div class="profile-user-info">
             <h4 class="mb-2"> By <a href="" class="text-success font-weight-bold" aria-labelledby="article author">
                 {{article.author}} </a></h6>
               <span class="text-muted">12 Dec 2018 at 1:16 AM </span>
           </div>
         </div>
        <h4 class="card-title">
          <h3 class="blog-title-truncate text-body-heading font-weight-bold">{{article.title}}</h3>
        </h4>
        <hr>
        <div class="mb-2">
          {% for tag in article.tags %}
          <a class="badge badge-pill badge-info font-weight-light mr-1" href="">
            {{ tag|title }}
          </a>
          {% endfor %}
        </div>
        <p class="card-text text-body blog-content-truncate">
          {{article.body}} …
        </p>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
          <a href="page-blog-detail.html#blogComment">
            <div class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-message-square font-medium-1 text-body ">
                <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
              </svg>
              <span class="ml-1 font-weight-bold text-info"> 319 Comments</span>
            </div>
          </a>
          <a href="page-blog-detail.html" class="font-weight-bold text-info">Read More</a>
        </div>
      </div>
    </article>
  </div>

  {%- endfor %}
  <!-- End Articles -->
</div>
{% endblock %}

{% block aside %}
{{super()}}
{% endblock %}





{# 
  <div class="col-lg-10">
    <article class="card text-mute article-item filter-web wow fadeInUp content-section  bg-white"  role="article" data-wow-delay="0.3s" role="article">
        <figure role = "figure card-img-top">
          <img src="{{ url_for('static', filename='images/banner.jpg')}}" class="img-fluid" alt="" role="img">
          <a href="{{ url_for('static', filename='images/banner.jpg')}}" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
          <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
          <div class="icon">
            <img src=" {{ url_for('static', filename='images/team/user-09.jpg' ) }} " alt="{{article.author}} profile picture" srcset="" class="mr-1" />
          </div>
        </figure>

        <div class="article-info card-body bg-white">
          <h4 ><a href="#" class="h4">{{article.title}} </a></h4>
          <div class="card-text">
            <h4 class="h4">
              <span class="text-muted">By </span>
              <a href=""> {{article.author}} </a>
              <span class="text-muted mx-2 border-right"></span>
              <span class="text-muted">Jan 10, 2020</span>
            </h4>
            {{article.body}} …
          </div >
          <br>
          <div class="d-flex justify-content-between align-items-center">
            <a href="page-blog-detail.html#blogComment">
                <div class="d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square font-medium-1 text-body mr-50"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                    <span class="text-body font-weight-bold">319 Comments</span>
                </div>
            </a>
            <a href="page-blog-detail.html" class="font-weight-bold text-primary">Read More</a>
        </div>
        </div>
        
    </article>
  </div> 
#}
