{% extends "index.html" %}
{% from 'components/blog_logo.html' import center_blog_logo %}

{% block page_header %}
<input type="checkbox" name=" switch theme" id="switch-theme" aria-label="Toggle Dark Mode">
<label for="" id="dark-mode-toggle" class=" float-right mr-5"></label>
{% endblock %}

{%- block content %}

<section class=" content-section contact col-md-9 col-lg-7 bg-white wow fadeInLeftBig" id="contact" data-wow-delay="0.25s">
    {{ center_blog_logo() }}

    <form action="" method='POST' role="form" role="form" class="form row justify-content-center">

        {{ form.hidden_tag() }}

        <fieldset class="form-group col-md-10">
            <legend class="border-bottom mb-3 pb-3 h4 text-center">
                Join Us Today
            </legend>

            <div class="form-group ">

                {{ form.username.label(class="form-control-label font-weight-bold") }}

                {%- if form.username.errors %}

                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ion-android-person"></i></span>
                </div>

                {{ form.username(class=" form-control form-control-md is-invalid is-invalid ", placeholder="Username") }}

                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <p class="error" aria-errormessage="{{error}}">{{ error }}</p>
                    {% endfor %}
                </div>
                </div>

                {% else %}
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ion-android-person"></i></span>
                </div>

                {{ form.username(class=" form-control form-control-md ", placeholder="Username") }}
                </div>
                {% endif %}

            </div>

            <div class="form-group ">

                {{ form.email.label(class="form-control-label font-weight-bold") }}

                {% if form.email.errors %}

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ion-ios-email"></i></span>
                    </div>
                    {{ form.email(class=" form-control form-control-md is-invalid ", placeholder="example@gmail.com") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <p class="error" aria-errormessage="{{error}}">{{ error }}</p>
                    {% endfor %}
                </div>
                </div>

                {% else %}

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ion-ios-email"></i></span>
                    </div>
                    {{ form.email(class=" form-control form-control-md  ",placeholder="example@email.com") }}
                </div>

                {% endif %}
            </div>

            <div class="form-group ">

                {{ form.password.label(class="form-control-label font-weight-bold") }}
                {% if form.password.errors %}
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ion-android-lock"></i></span>
                </div>

                {{ form.password(class=" form-control form-control-md  is-invalid ", placeholder="Ssh this is private") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <p class="error" aria-errormessage="{{error}}">{{ error }}</p>
                    {% endfor %}
                </div>
                </div>

                {% else %}

                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ion-android-lock"></i></span>
                </div>
                {{ form.password(class=" form-control form-control-md  ", placeholder="Ssh this is private") }}
                </div>

                {% endif %}
            </div>

            <div class="form-group ">

                {{ form.confirm_password.label(class="form-control-label font-weight-bold") }}
                {% if form.confirm_password.errors %}

                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ion-android-lock"></i></span>
                </div>
                {{ form.confirm_password(class=" form-control form-control-md is-invalid ", placeholder="Must match password") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <p class="error" aria-errormessage="{{error}}">{{ error }}</p>
                    {% endfor %}
                </div>
                </div>
                {% else %}

               <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ion-android-lock"></i></span>
                </div>
                {{ form.confirm_password(class=" form-control form-control-md ", placeholder="Must match password") }}
               </div>
                {% endif %}

            </div>

            <div class="form-group mt-3">
                {{ form.submit(class="btn btn-outline-info mt-2 btn-lg rounded px-5") }}
            </div>

        </fieldset>
        
    </form>

    <h3 class="h6 container text-center  text-uppercase border-top mt-2 pt-2 pb-2">
        <small class="text-muted">already have an account ? <a href="{{url_for('login')}}" class="ml-2">sign
                in</a></small>
    </h3>

</section>



{%- endblock %}

{% block aside %}{% endblock %}

{% block scripts %}

{% endblock %}
