/*-------------------------------------------------
# Header
---------------------------------------------------*/

#header {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 14rem ;
	transition: all ease-in-out 0.5s;
	z-index: 9997;
	transition: all 0.5s;
	padding: 0 15px;
	overflow-y: auto;
	clear: both;
	box-shadow: 0px 0px 28px rgba(127, 137, 161, 0.267);

		@media screen and (max-width: 1000px) {
			left: -14rem;
		}
}


/*-------------------------------------------------
# Navigation Menu
---------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
	padding: 30px 0 0 0;

	* {
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none;
		color: #101523;

		&:hover {
			color: #101523;
		}
	}

	li {
		margin: .3rem 0;
	}

	ul {
		> li {
			position: relative;
			white-space: nowrap;
		}
	}

	a {
		display: flex;
		align-items: center;
		padding: .5rem 1rem;
		margin-bottom: .4rem;
		transition: 0.3s;
		font-size: 1rem;
		font-weight: 500;
		
		i {
			font-size: 24px;
			padding-right: 8px;
			color: $color-scale-gray-4;
		}

		&:hover{
			i {
				color: $color-scale-blue-5;
			}
		}
	}

	.nav-link.active {
		font-weight: 500;
	}

}

// #switch-theme {
// 	position: absolute;
// 	left: -90vw;
// }

#switch-theme {

	&.active {

		+label {
			background: $color-white !important;
			box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.123) !important;

			&::after {
				/* filter: none !important; */
				transform: translate(1.2rem);
				content: "\f186";
			}
		}
	}

	+label {
		font-size: 2rem;
		text-indent: -100vw;
		cursor: pointer;
		background: hsla(0, 0%, 50%, 0.637);
		position: relative;
		border: solid 0.38rem transparent;
		width: 3.5rem;
		height: 2rem;
		border-radius: 2rem;
		box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.4);
		pointer-events: all;

		&::after {
			font-size: inherit;
			position: absolute;
			top: -2px;
			left: 0;
			box-sizing: border-box;
			align-items: center;
			justify-content: center;
			padding: 0.5rem;
			width: 1.3rem;
			height: 1.3rem;
			font-size: 1.3rem;
			border-radius: 50%;
			box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.575);
			color: var(--yellow);
			text-indent: 0;
			text-transform: uppercase;
			transition: 0.5rem all ease-in-out;
			display: inline-flex;
			font-family: "FontAwesome";
			content: "\f185";
		}
	}

}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */


.main-nav .drop-down ul {
	display: block;
	position: absolute;
	left: 0;
	top: calc(100% + 30px);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	padding: 10px 0;
	background: $color-white;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: ease all 0.3s;
}

.main-nav .drop-down:hover>ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}

.main-nav .drop-down li {
	min-width: 180px;
	position: relative;
}

.main-nav .drop-down ul a {
	padding: 10px 20px;
	font-size: 13px;
	color: #004289;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active>a,
.main-nav .drop-down ul li:hover>a {
	color: #007bff;
}

.main-nav .drop-down>a:after {
	content: "\f107";
	font-family: FontAwesome;
	padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
	top: 0;
	left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover>ul {
	opacity: 1;
	top: 0;
	left: 100%;
}

.main-nav .drop-down .drop-down>a {
	padding-right: 35px;
}

.main-nav .drop-down .drop-down>a:after {
	content: "\f105";
	position: absolute;
	right: 15px;
}

/* Mobile Navigation */

.mobile-nav {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 999;
	overflow-y: auto;
	left: -260px;
	width: 260px;
	padding-top: 18px;
	box-shadow: 0 0 28px rgba(0, 0, 0, 0.123);
	transition: 0.4s;
	opacity: 0.96;
}

.mobile-nav * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mobile-nav a {
	display: block;
	position: relative;
	padding: 10px 20px;
	font-weight: 500;
}
