// @charset "UTF-8";

@import "../base/varables";
@import "../base/mixins";
@import "../base/functions";

// fonts
// @import "../utilities/fonts";

/** --------------------------------------------------------------
# General
-------------------------------------------------------------- */

:root {
	--dark: #343a40;

	--Very-Dark-Blue: hsl(230, 17%, 14%);
	--Very-Dark-top: hsl(232, 19%, 15%);
	--Dark-Desaturated-Blue-card: hsl(228, 28%, 20%);
	--Desaturated-Blue-Text: hsl(228, 34%, 66%);
	--White-Text: hsl(0, 0%, 100%);
}


*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}


body {
	background: hsl(0, 60%, 100%);
	color: #444;
	background: var(--light);
	font-family: "Rubik",
	"Lato",
	"Open Sans",
	sans-serif;
	font-size: 1rem;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-margin-top: 2rem;
	transition: all ease-in-out .3s;
}

body * {
	transition: all .3s ease-in;
}

a {
	color: #007bff;
	transition: 0.5s;
}

a:hover,
a:active,
a:focus {
	color: #0b6bd3;
	outline: none;
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	margin: 0 0 20px 0;
	padding: 0;
}

/* Back to top button */

.back-to-top {
	position: fixed;
	display: none;
	background: $darkBackground;
	color: $color-white;
	width: 44px;
	height: 44px;
	transform: scale(0);
	text-align: center;
	line-height: 1.3;
	padding-top: .36rem;
	font-size: 1rem;
	border-radius: 20%;
	right: 20px;
	bottom: 15px;
	transition: all 0.5s;
	z-index: 11;

	&.show-toTop-btn {
		display: block;
		transform: scale(1);
	}
	i {
		padding-top: 8px;
		color: $color-white;

		&:hover {
			transform: scale(1.14);
		}
	}
}

@import "../components/loader";

.avatar {
	background-color: #C3C3C3;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
	color: #FFF;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	font-size: 1rem;
	text-align: center;
	vertical-align: middle;
	font-weight: 600;
}

/*-------------------------------------------------
Animations Section
--------------------------------------------------*/
@import "../utilities/animations";

// @import "../utilities/fonts";
@import "../layouts/navbar";
/*------------------------------------------------------
User's Account Page
------------------------------------------------------*/
@import "../pages/user-page";

#intro {
	width: 100%;
	position: relative;
	background: url("../img/intro-bg.png") center bottom no-repeat;
	background-size: cover;
	padding: 200px 0 120px 0;
}

#intro .intro-img {
	width: 50%;
	float: right;
}

#intro .intro-info {
	width: 50%;
	float: left;
}

#intro .intro-info h2 {
	color: $color-white;
	margin-bottom: 40px;
	font-size: 48px;
	font-weight: 700;
}

#intro .intro-info h2 span {
	color: #74b5fc;
	text-decoration: underline;
}

#intro .intro-info .btn-get-started,
#intro .intro-info .btn-services {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 32px;
	border-radius: 50px;
	transition: 0.5s;
	margin: 0 20px 20px 0;
	color: $color-white;
}

#intro .intro-info .btn-get-started {
	background: #007bff;
	border: 2px solid #007bff;
	color: $color-white;
}

#intro .intro-info .btn-get-started:hover {
	background: none;
	border-color: $color-white;
	color: $color-white;
}

#intro .intro-info .btn-services {
	border: 2px solid $color-white;
}

#intro .intro-info .btn-services:hover {
	background: #007bff;
	border-color: #007bff;
	color: $color-white;
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header h2 {
	font-size: 36px;
	color: #283d50;
	text-align: center;
	font-weight: 500;
	position: relative;
}

.section-header p {
	text-align: center;
	margin: auto;
	font-size: 15px;
	padding-bottom: 60px;
	color: #556877;
	width: 50%;
}


.blog-logo {
	width: 40px !important;
	height: 40px !important;
}

/* Section with background
--------------------------------*/

.section-bg {
	background: #ecf5ff;
}


/* Services Section
--------------------------------*/


/* Components Section
--------------------------------*/
.btn{

	&:link, &:visited {
		text-transform: uppercase;
		/* padding: .rem 1.2rem; */
		/* border-radius: 5em ; */
		position: relative;
	}
	&::after {
		content: "";
		display: inline-flex;
		width: 100%;
		height: 100%;
		border-radius: 5rem;
		position: absolute;
		background: none;
		top: 0;
		left: 0;
		z-index: -2;
		transition: all 0.4s;
	}
	&:focus,
	&:active {
		transform: translate(-0.1rem);
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
	}

	&:hover {
		transform: translateY(-0.3rem);
		box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2);
	}

	&:hover::after {
		transform: scaleX(1.4) scaleY(1.6);
		opacity: 0;
	}
}
@import "../components/articles";
@import "../components/forms";

@import "../layouts/dark-theme";
@import "../utilities/alerts";
@import "../utilities/tooltips";

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
@import "../components/footer";
@import "../pages/pages";

.copyright {
	text-align: center;
	padding-top: 30px;
}

.credits {
	text-align: center;
	font-size: 13px;
	color: #f1f7ff;
}

.credits a {
	color: #bfddfe;
}

.credits a:hover {
	color: #f1f7ff;
}

/**
 * Bootstrap "Journal code" icon
 * @link https://icons.getbootstrap.com/icons/journal-code/
 */
.bd-heading a::before {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-right: .25rem;
	content: "";
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%25230d6efd' viewBox='0 0 16 16'%3E%3Cpath d='M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1H2a2 2 0 0 1 2-2z'/%3E%3Cpath d='M2 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2z'/%3E%3Cpath fill-rule='evenodd' d='M8.646 5.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 8l1.647-1.646a.5.5 0 0 0 0-.708z'/%3E%3C/svg%3E");
	background-size: 1em;
}

/* stylelint-disable-next-line selector-max-universal */
.bd-heading+div>*+* {
	margin-top: 3rem;
}

/* Table of contents */
.bd-aside a {
	padding: .1875rem .5rem;
	margin-top: .125rem;
	margin-left: .3125rem;
	color: rgba(0, 0, 0, .65);
	text-decoration: none;
}

.bd-aside a:hover,
.bd-aside a:focus {
	color: rgba(0, 0, 0, .85);
	background-color: rgba(121, 82, 179, .1);
}

.bd-aside .active {
	font-weight: 600;
	color: rgba(0, 0, 0, .85);
}

.bd-aside .btn {
	padding: .25rem .5rem;
	font-weight: 600;
	color: rgba(0, 0, 0, .65);
	border: 0;
}

.bd-aside .btn:hover,
.bd-aside .btn:focus {
	color: rgba(0, 0, 0, .85);
	background-color: rgba(121, 82, 179, .1);
}

.bd-aside .btn:focus {
	box-shadow: 0 0 0 1px rgba(121, 82, 179, .7);
}

.bd-aside .btn::before {
	width: 1.25em;
	line-height: 0;
	content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
	transition: transform .35s ease;
	transform-origin: .5em 50%;
}

.bd-aside .btn[aria-expanded="true"]::before {
	transform: rotate(90deg)
		/* rtl:ignore */
	;
}


/* Examples */
.scrollspy-example {
	position: relative;
	height: 200px;
	margin-top: .5rem;
	overflow: auto;
}

[id="modal"] .bd-example .btn,
[id="buttons"] .bd-example .btn,
[id="tooltips"] .bd-example .btn,
[id="popovers"] .bd-example .btn,
[id="dropdowns"] .bd-example .btn-group,
[id="dropdowns"] .bd-example .dropdown,
[id="dropdowns"] .bd-example .dropup,
[id="dropdowns"] .bd-example .dropend,
[id="dropdowns"] .bd-example .dropstart {
	margin: 0 1rem 1rem 0;
}

/* Layout */
@media (min-width: 1200px) {

	.bd-header {
		position: fixed;
		top: 0;
		/* rtl:begin:ignore */
		right: 0;
		left: 0;
		/* rtl:end:ignore */
		z-index: 1030;
		grid-column: 1 / span 3;
	}

	.bd-aside,
	.bd-cheatsheet {
		padding-top: 4rem;
	}

	/**
   * 1. Too bad only Firefox supports subgrids ATM
   */
	.bd-cheatsheet,
	.bd-cheatsheet section,
	.bd-cheatsheet article {
		display: inherit;
		/* 1 */
		gap: inherit;
		/* 1 */
		grid-template-columns: 1fr 4fr;
		grid-column: 1 / span 2;
		grid-template-rows: auto;
	}

	.bd-aside {
		grid-area: 1 / 3;
		scroll-margin-top: 4rem;
	}

	.bd-cheatsheet section,
	.bd-cheatsheet section>h2 {
		top: 2rem;
		scroll-margin-top: 2rem;
	}

	.bd-cheatsheet section>h2::before {
		position: absolute;
		/* rtl:begin:ignore */
		top: 0;
		right: 0;
		bottom: -2rem;
		left: 0;
		/* rtl:end:ignore */
		z-index: -1;
		content: "";
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) calc(100% - 3rem), rgba(255, 255, 255, .01));
	}

	.bd-cheatsheet article,
	.bd-cheatsheet .bd-heading {
		top: 8rem;
		scroll-margin-top: 8rem;
	}

	.bd-cheatsheet .bd-heading {
		z-index: 1;
	}
}

@import "../layouts/responsive.scss";
