{% extends "layout.html" %}
{% from 'components/header.html' import Blog_Header %}
{% from 'components/blog_logo.html' import center_blog_logo %}

{% block header %}
  {{Blog_Header()}}
{% endblock %}

{% block content %}

<section class="content-section mb-3 col-md-10 wow fadeInLeftBig" id="contact" data-wow-delay="0.25s">
  {{ center_blog_logo() }}
    <form action="" method='post' role="form" role="form" class="form row justify-content-center">
      {{ form.hidden_tag() }}
        <fieldset class="form-group col-lg-10" >
            <legend class="border-bottom mb-3 pb-3 h4 text-center">
                Log In
            </legend>
            <div class="form-group">
              {{ form.email.label(class="form-control-label") }}
             {% if form.email.errors %}
                 {{ form.email(class=" form-control form-control-md is-invalid ", placeholder="example@gmail.com") }}
                 <div class="invalid-feedback">
                     {% for error in form.email.errors %}
                             <p class="">{{ error }}</p>
                     {% endfor %}
                 </div>
             {% else %}
                 {{ form.email(class=" form-control form-control-md  ",placeholder="example@email.com") }}
             {% endif %}
         </div>
         <div class="form-group">
              {{ form.password.label(class="form-control-label") }}
             {% if form.password.errors %}
                 {{ form.password(class=" form-control form-control-md  is-invalid ", placeholder="Password") }}
                 <div class="invalid-feedback">
                     {% for error in form.password.errors %}
                             <p class="">{{ error }}</p>
                     {% endfor %}
                 </div>
             {% else %}
                 {{ form.password(class=" form-control form-control-md  ", placeholder="Password") }}
             {% endif %}
         </div>
            <div class="form-check mb-2">
              {{ form.remember(class="form-check-input") }}
              {{ form.remember.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group col-lg-10">
          {{ form.submit(class="btn btn-lg btn-outline-success") }}
          <small class="text-muted"><a href="#" class="ml-4">Forgot Password ?</a></small>
      </div>
      
    </form>
    <section class="container border-top mt-4 pt-4">
      <div class="social-links ">
          <a href="#" class="twitter" aria-label="log in using your twitter account"
            ><i class="ion-social-twitter"></i
          ></a>
      
          <a href="#" class="facebook" aria-label="log in using your facebook account"
            ><i class="ion-social-facebook"></i
          ></a>
      
          <a href="#" class="google-plus" aria-label="log in using your gmail account"
            ><i class="ion-android-mail"></i
          ></a>
      
        </div>
        <section class="container mt-4 pt-2 pb-2">
          <small class="text-muted text-capitalize">don't have an account ? <a href="{{url_for('register')}}" class="ml-3">sign up now</a>
          </small>  
       </section>
    </section>
</section>


{% endblock %}

{% block scripts %}
{% endblock %}