{% extends "base.html" %}

{% block page_header %}
  {{super()}}
  {% endblock %}



{% block main_content %}
<div class="col-lg-9">
  <section class="header">
    {% if current_user.is_authenticated %}
    <h1 class="intro-text">
      <span class="display-3">Welcome {{current_user.username}}</span>,
      <span class="txt-type" data-wait="3000" data-words="{{ current_user.username }}"></span>
    </h1>
    {% else %}
    <h1 class="intro-text">
      <span class="display-3">Welcome</span>,
      <span class="txt-type" data-wait="3000"
        data-words='[" Professional Site for Writers", " For Content Creators that Love to share", "Write and Deploy For YouTube Instructors ", "..Python Developers"]'></span>
    </h1>
    {% endif %}
    </section>
    <section class="container text-center bg-light col-lg-10">
      <div class="bg bg-1">
        {% if author_name %}
        <h1 class="title"><u>Hello {{author_name}} </u> :)</h1>
      {% else %}
      <h1 class="title">Hello Dear User</h1>
      {% endif %}

      <h2>Welcome To Our <a href="#"> Home Page {{author_name}} </a></h2>
    </div>

    <div class="">
      <h1 class="text-title">
        <span> Code bootcamp </span>
      </h1>
      <p class="h4">
        Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Maxime Poussins
        exercitationem officiis ab nihil corrupti! Quis assumenda, necessitatibus,
        doldrum placeat vero tempore dolore incidunt hic aspernatur nam qui natus
        minima suscipit ad distinctio nostrum accusantium ab porro quos est,
        soluta.
      </p>
      <span class="rating">
        {% for rate in range(1,ratings+1) %} &starf; {% endfor %}
      </span>
    </div>
    <ul>
      {% for user in users %}
      <li>{{user.username|title}}</li>
      <li>{{user.email}}</li>
      <li>{{user.password}}</li>
      <li>{{user.image_file}}</li>
      <hr>
      {% endfor %}
    </ul>
    </section>
    </div>

{% endblock %}

<!-- Page Aside -->
{% block aside %}
{{super()}}
{% endblock %}

<!-- Page Footer -->
{% block footer %}
{{super()}}
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/type_writer.js') }}" crossorigin="anonymous">
</script>
{% endblock %}
